<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <h2>구글로 그리는 예제</h2>

    <div id="chart_div" style="height: 500px;"></div>
    <div id="app">
        <li v-for="(item, c) in dataArray" v-if="c > 0 ">
            {{item[0]}} : {{item[1]}}
            <button @click="addOne(c)">한표</button>
        </li>
    </div>
    <script>
        var orgdata = [
            ['종류', '개수'],
            ['도시락', 3],['갈비탕', 4] , ['오므라이스',4],
            ['짬뽕',1],['비빔밥',3], ['메밀소바',1]
        ];
        google.charts.load('current', {packages:['corechart']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic(){
            var data = google.visualization.arrayToDataTable(orgdata);
            var options = {title: '선호 점심' , "is3D" : true};
            var chart = new google.visualization.PieChart(
                document.getElementById('chart_div')
            );
            chart.draw(data,options);
        }
    </script>
</body>
</html>