<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/input.js">
    </script>
</head>
<body>
    <div id="app">
        <input v-model="myName">
        <p>나는 {{myName}}입니다.</p>
    </div>
    <div id="app2">
        <input v-model="myCheck" type="checkbox">
        <p>check: {{myCheck}}.</p>
    </div>
    <div id="app3">
        <label for=""><input v-model="myCheck2" value="red" type="checkbox">적</label><br>
        <label for=""><input v-model="myCheck2" value="yellow" type="checkbox">황</label><br>
        <label for=""><input v-model="myCheck2" value="green" type="checkbox">녹</label><br>
        <p>check: {{myCheck2}}.</p>
    </div>
    <div id="app4">
        <input v-model="bu" type="checkbox" v-model="bu">
        <button type="button" v-bind:disabled="bu==false">송신</button>
    </div>
</body>
</html>