<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        window.onload = function(){
            new Vue({
                el: "#app",
                data: {
                    radio: 'red'
                }
            })
            new Vue({
                el: "#app2",
                data: {
                    fileName: '',
                    file1: 'https://media.vlpt.us/images/hustle-dev/post/9b4d5fd6-81b1-4d22-8817-16b61f610e9a/img.jpeg',
                    file2: 'https://media.vlpt.us/images/hustle-dev/post/9b4d5fd6-81b1-4d22-8817-16b61f610e9a2/img.jpeg'
                }
            })
        }
    </script>
</head>
<body>
    <div id="app">
        <input type="radio" value="red" v-model="radio">
        <input type="radio" value="green" v-model="radio">
        <input type="radio" value="blue" v-model="radio">
        <p>내가 선택한 값은 {{radio}}</p>
    </div>

    <div id="app2">
        <input type="radio" v-bind:value="file1" v-model="fileName">
        <input type="radio" v-bind:value="file2" v-model="fileName">
        <p>{{fileName}}</p>
        <img :src="fileName">
    </div>
</body>
</html>